h1 {
  font-family: monospace;
  color: rgb(88, 88, 88);
  padding: 15px;
  margin: auto;
  text-align: center;
}

.btn {
  text-align: center;
}

.generator {
  font-family: monospace;
  color: white;
  background-color: rgb(88, 88, 88);
  border: none;
  border-radius: 2.5px;
  padding: 10px;
}

.generator:hover {
  background-color: rgb(122, 122, 122);
}

.generator:active {
  box-shadow: 0px 4px #666;
  transform: translateY(3px);
}

img {
  height: 90%;
  max-width: 100%;
}

.imgBlock {
  text-align: center;
  height: 55vh;
}

.countLike {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2vh 0;
}

.like {
  height: 20px;
}

p {
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(88, 88, 88);
  margin: 8px;
}
